[submodule "newlink"]
	path = newlink
	url = git@git.vauxoo.com:vauxoo/newlink.git
	branch = 19.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 19.0
[submodule "l10n-mx-portal-vendor-bills"]
	path = l10n-mx-portal-vendor-bills
	url = git@git.vauxoo.com:mexico/l10n-mx-portal-vendor-bills.git
	branch = 19.0
[submodule "l10n-mx-partner-blocklist"]
	path = l10n-mx-partner-blocklist
	url = git@git.vauxoo.com:mexico/l10n-mx-partner-blocklist.git
	branch = 19.0
