[submodule "newlink"]
	path = newlink
	url = git@git.vauxoo.com:vauxoo/newlink.git
	branch = 19.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 19.0
[submodule "viaticum-approval"]
	path = viaticum-approval
	url = git@git.vauxoo.com:vauxoo/viaticum-approval.git
	branch = 19.0
